* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

nav {
    display: grid;
    grid-template-areas: 'nav-links accounts';
    width: 60%;
    margin: auto;
    margin-top: 3%;
    grid-gap: 40px;
}

.nav-links a {
    text-decoration: none;
    display: inline;
    padding: 10px;
    text-transform: uppercase;
    color: black;
    cursor: pointer;
}

.nav-links a:hover {
    font-weight: bold;
}

.accounts {
    margin-right: 10px;
    cursor: pointer;
    text-align: right;
}

.accounts a {
    text-decoration: none;
    color: black;
}

.accounts a:hover {
    transform: scale(1.3);
}

.header {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 2%;
}

h1 {
    font-size: 50px;
}

h2, h4, h5 {
    font-weight: 100;
}

hr {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

.container-content {
    display: grid;
    grid-template-areas: 'main-content side-bar';
    width: 60%;
    margin: auto;
    grid-gap: 50px;
    text-align: left;
}

.featured-article {
    margin-top: 2%;
    margin-bottom: 2%;
}

img {
    height: 200px;
    width: 500px;
}

.side-bar img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

.side-bar p {
    text-align: center;
    font-size: 18px;
}

.newsletter {
    margin-top: 10%;
    border: 1px solid black;
    padding: 25px 10px 25px 10px;
    text-align: center;
    grid-area: newsletter;
}

h5 {
    margin-bottom: 10%;
}

input {
    padding: 10px 20px 10px 20px;
    outline: none;
}

::placeholder {
    text-align: center;
}

.sub-btn, .search-btn {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 70px 15px 70px;
    margin-top: 10%;
    cursor: pointer;
}

.search {
    margin-top: 10%;
    text-align: center;
    grid-area: search;
}

footer {
    margin-top: 3%;
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .accounts-footer a {
    color: white;
    text-decoration: none;
}

/* @media (max-width: 1299px) {
    nav {
        grid-template-columns: 'nav-links' 'accounts';
        text-align: center;
    }
    .container-content {
        grid-template-columns: 'main-content' 'side-bar';
        width: 70%;
        margin: auto;
    }
    hr {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2%;
    }
    .side-bar {
        display: grid;
        grid-template-columns: 'avatar newsletter' 'search';
        grid-gap: 40px;
    }
    .newsletter {
        margin-top: 0;
    }
} */

